<body no-scroll>
<ion-nav-bar animation="" type="bar-positive" class="deuglify">
    <a href="#pane">
        <button class="button button-clear stnd icon ion-ios7-arrow-back" ng-click=""></button>
    </a>
</ion-nav-bar>

    <ion-nav-view animation=""></ion-nav-view>

<ion-view title="All Matches" left-buttons="leftButtons" class="matches" no-tap-scroll=true>

            <ion-content class="has-header" on-drag-right="goBack()">  <!--note alt gestures like on-hold="goBack()" -->
    <ion-refresher on-refresh="doRefresh()" pulling-text="Pull to refresh..." refreshing-text="Refreshing!" refreshing-icon="ion-loading-c">

    </ion-refresher>
                <ion-list>

                    <ion-item ng-repeat="match in matches | filter: myfilter(10)  | limitTo:numLimit | orderBy:'-date'" class="max100" type="item-text-wrap" href="#/match/{{match.id}}">
                        <!--a class="item item-thumbnail-left" href="#"-->
                        <div class="card-container item-thumbnail-left" id="{{match.name}}">
                            <img ng-src="{{match.image}}">
                            <h2>{{match.name}}</h2>
                            <div class="">{{match.title}}</div>
                            <p style="margin: 3 0 39px">
                                <span class="button button-clear icon ion-ios7-location-outline" id="loc-icon" style="margin-right: -16px;
margin-left: -20px; margin-top: -4px;"></span>
                                {{match.location}}</p>
                        </div>
                    </ion-item>

                </ion-list>
            </ion-content>

        </ion-view>
        </body>
