<no-scroll>
    <ion-nav-bar animation="" type="bar-positive" class="deuglify" ng-click="goBack2()">
        <a href="#pane">
            <button class="button button-clear stnd icon ion-ios7-arrow-back"></button>
        </a>
    </ion-nav-bar>

    <ion-nav-view animation=""></ion-nav-view>

    <ion-view title="{{match.name}}" left-buttons="leftButtons" class="matches">
        <ion-content has-header="true" padding="true">


        </ion-content>


        <div class="list card mod" id="trans">

            <!--div class="item item-avatar " id="trans">
                <img src="mcfly.jpg">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
            </div-->

            <div class="item item-body" id="trans">
                <img class="full-image" src="img/user73.jpg">
                <h2 id="card">
                {{match.name}}
                </h2>
                <h3 id="card">
                {{match.title}}
                </h3>
                <p>
                {{match.name}} is a native of {{match.location}} and has lived in Nice, France
since {{date}}. {{match.name}} has worked on {{match.title}} for {{years}} years.
                </p>
                <!--p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p-->
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left" id="trans">
                <a class="tab-item" href="">
                    <i class="icon ion-thumbsup" ng-click="showPopup()"></i>
                    Like
                </a>
                <a class="tab-item" href="">
                    <i class="icon ion-chatbox" ng-click="showConfirm()"></i>
                    Comment
                </a>
                <a class="tab-item" href="">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

    <!--button class="button button-dark" ng-click="showPopup()">
      show
    </button>
    <button class="button button-primary" ng-click="showConfirm()">
      Confirm
    </button>
    <button class="button button-positive" ng-click="showAlert()">
      Alert
    </button-->

    <!--script id="popup-template.html" type="text/ng-template">
      <input ng-model="data.wifi" type="text" placeholder="Password">
    </script-->


        </div>
    </ion-view>
</no-scroll>
