   <pane ng-controller="CardCtrl" class="pane">
            <header-bar type="bar-transparent" title="'Meet'"></header-bar>
            <!--p style="color:white">Accepted: {{accepted}}, Rejected: {{rejected}}</p-->
            <swipe-cards>
                <swipe-card on-swipe="cardSwiped()" id="start-card">
                    Meet Me
                </swipe-card>
                <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
                    <div ng-controller="CardCtrl">
                        <!--div class="title">
              {{card.title}}
            </div-->
                        <div class="image">
                            <img ng-src="{{card.image}}">
                        </div>
                        <div class="button-bar">
                            <!--button class="button button-clear button-positive" ng-click="reject()">No</button-->
                            <!--button class="button button-clear button-positive" ng-click="accept()">Yes</button-->
                            <button class="button button-clear button-positive icon ion-close" ng-click="reject()"></button>

                            <button class="button button-clear button-assertive icon ion-heart" ng-click="accept()"></button>
                        </div>
                    </div>
                </swipe-card>
            </swipe-cards>
        </pane>