<ion-nav-bar animation="" type="bar-positive" class="deuglify">
    <a href="#create-profile">
        <button class="button button-clear stnd icon ion-ios7-arrow-back" ng-click=""></button>
        <button class="button button-clear stnd icon" ng-click=""> Back </button>
    </a>
    <a href="#matches" id='right'>
        <button class="button button-clear stnd icon" ng-click=""> List </button>
    </a>
</ion-nav-bar>

<ion-nav-view animation="slide-left-right-ios7"></ion-nav-view>

<ion-view title="Matches">

<ion-nav-bar animation="" type="bar-positive" class="deuglify">
    <a href="#create-profile">
        <button class="button button-clear stnd icon ion-ios7-arrow-back" ng-click=""></button>
        <button class="button button-clear stnd icon" ng-click=""> Back </button>
    </a>
    <a href="#matches" id='right'>
        <button class="button button-clear stnd icon" ng-click=""> List </button>
    </a>
</ion-nav-bar>

    <pane ng-controller="CardsCtrl" class="cards pane standard" ng-init="">

        <swipe-cards>
            <!--swipe-card on-swipe="cardSwiped()" id="start-card">
                Swipe right for your new match
            </swipe-card-->
            <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)" ng-model="count">
                <div ng-controller="CardCtrl">

                    <div class="item item-body" id="trans">
                        <img class="full-image circled" src="img/user73.jpg">
                        <h2 id="card">
                            {{match.name}}
                        </h2>
                        <h3 id="card">
                            {{match.title}}
                        </h3>
                        <p>
                            {{match.name}} is a native of {{match.location}} and has lived in Nice, France since {{date}}. {{match.name}} has worked on {{match.title}} for {{years}} years.
                        </p>


                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left" id="trans">
                        <a class="tab-item" href="">
                            <i class="icon ion-thumbsup" ng-click="showPopup()"></i>
                            Like
                        </a>
                        <a class="tab-item" href="">
                            <i class="icon ion-chatbox" ng-click="showConfirm()"></i>
                            Comment
                        </a>
                        <a class="tab-item" href="">
                            <i class="icon ion-share"></i>
                            Share
                        </a>
                    </div>
                    <div class="button-bar" style="margin-top: 75px;">

                        <button class="button button-clear button-positive icon ion-close" ng-click="reject()"></button>

                        <button class="button button-clear button-assertive icon ion-heart" ng-click="accept()"></button>
                    </div>
                </div>
            </swipe-card>
        </swipe-cards>

        <!--div class="animate-hide" ng-show="next">
            <div id="next mydiv">
                <a href="#matches" style="text-underline-style: none;
text-decoration: initial;">
                    <h3 id="next">Next</h3>
                </a>
            </div>
        </div-->
    </pane>
</ion-view>
