<ion-nav-bar animation="" type="bar-positive" class="deuglify">
    <a href="#create-profile">
        <button class="button button-clear stnd icon ion-ios7-arrow-back" ng-click=""></button>
        <button class="button button-clear stnd icon" ng-click=""> Back </button>
    </a>
    <a href="#matches" id='right'>
        <button class="button button-clear stnd icon" ng-click=""> List </button>
    </a>
</ion-nav-bar>

<ion-nav-view animation="slide-left-right-ios7"></ion-nav-view>

<ion-view title="Matches">

<ion-nav-bar animation="" type="bar-positive" class="deuglify">
    <a href="#create-profile" style="text-decoration: none">
        <button class="button button-clear stnd icon ion-ios7-arrow-back" ng-click=""></button>
        <button class="button button-clear stnd icon" ng-click=""> Back </button>
    </a>
    <a href="#matches" id='right'>
        <button class="button button-clear stnd icon" ng-click=""> List </button>
    </a>
</ion-nav-bar>

    <pane ng-controller="CardsCtrl" class="cards pane standard" ng-init="">

        <swipe-cards>
            <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)" ng-model="count">
                <div ng-controller="CardCtrl">

                    <div class="item item-body" id="trans">
                        <img class="full-image circled" ng-src="{{card.image}}">
                        <h2 id="card">
                            {{card.name}}
                        </h2>
                        <h3 id="card">
                            {{card.title}}
                        </h3>
                        <p>
                            {{card.name}} is a native of {{card.location}} and has lived in Nice, France since {{date}}. {{card.name}} has worked on {{card.title}} for {{years}} years.
                        </p>


                    </div>
                    <div class="button-bar" style="margin-top: 25px;">

                        <button class="button button-clear button-positive icon ion-close" ng-click="reject()"></button>

                        <button class="button button-clear button-assertive icon ion-heart" ng-click="accept()"></button>
                    </div>
                </div>
            </swipe-card>
        </swipe-cards>
    </pane>
</ion-view>
