<ion-view title="Test">


    <ion-view title="Home" class="test">
        <!--div class="container">
            <a href="#/pane">back</a>
        </div-->
        <div class="map-container">
            <div id="map-canvas" ui-map="myMap" ui-options="mapOptions" ui-event="{'map-idle' : 'onMapIdle()'}">
            </div>

            <!--In addition to creating the markers on the map,
       div elements with existing google.maps.Marker object
        should be created to hook up with events -->
            <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]" ui-event="{'map-click': 'markerClicked(marker)'}">
            </div>
        </div>

      <div class="button-bar"> <div class="button button-positive center" ng-click="pushDB()">
      Test</div> <div>
      <div class="button button-balanced center" ng-click="ask()">
      Show</div> <div>

    </ion-view>
    <!--div class="item range range-balanced" style="top: 518;">
            <i class="icon ion-ios7-bolt-outline"></i>
            <input type="range" name="volume" min="0" max="100" value="38">
            <i class="icon ion-ios7-bolt"></i>
          </div-->
</ion-view>
