/* Empty. Add your own CSS if you like */
/** For swipe index **/

.ion-close{
    border-right: 1px solid rgb(226, 226, 226) !important;
}

.swipe-card .image {
    max-height: 250px !important;
}

.container img {
    width: 70%
}

.container {
    text-align: center;
}

.home .container {
  height: 100%;
}
.home .linkedInLogin {
  display: block;
  position: absolute;
  bottom: 20px;
}

.matches {
    background: url(../img/Slice2.png) no-repeat center center fixed !important;
}