/* Empty. Add your own CSS if you like */
/** For swipe index **/

.ion-close{
    border-right: 1px solid rgb(226, 226, 226) !important;
}

.swipe-card .image {
    max-height: 250px !important;
}

.container img {
    width: 70%
}

.container {
    text-align: center;
}

.home .container {
  height: 100%;
}
.home .linkedInLogin {
  width: 100%;
  position: absolute;
  top: 411px;
}
.home .linkedInLogin a {
  width: 260px;
  margin-left: 20px;
  display: block;
  width: 260px;
  height: 40px;
}

.home .linkedInLogin a:focus, .home .linkedInLogin a:active {
  background-color: white;
  opacity: 0.2;
}

.matches {
    background: url(../img/Slice2.png) no-repeat center center fixed !important;
}
