/* Empty. Add your own CSS if you like */

/** For swipe index **/

#preload-01 { background: url(../img/Slice2.png) no-repeat -9999px -9999px; }
#preload-02 { background: url(../img/ProfileCreation.png) no-repeat -9999px -9999px; }
#preload-03 { background: url(../img/youHaveBeenMatched-waiting.png) no-repeat -9999px -9999px; }
#preload-04 { background: url(../img/youHaveBeenMatched-confirmed.png) no-repeat -9999px -9999px; }
#preload-05 { background: url(http://wisebadge.github.io/myproject/www/img/Tiffine.jpg) no-repeat -9999px -9999px; }
#preload-06 { background: url(http://wisebadge.github.io/myproject/www/img/Alar.jpg) no-repeat -9999px -9999px; }
#preload-07 { background: url(http://wisebadge.github.io/myproject/www/img/Chris.jpg) no-repeat -9999px -9999px; }
#preload-08 { background: url(http://wisebadge.github.io/myproject/www/img/Fred.jpg) no-repeat -9999px -9999px; }
#preload-09 { background: url(http://wisebadge.github.io/myproject/www/img/Helen.jpg) no-repeat -9999px -9999px; }
#preload-09 { background: url(http://wisebadge.github.io/myproject/www/img/Ravi.jpg) no-repeat -9999px -9999px; }

.ion-close {
    border-right: 1px solid rgb(226, 226, 226) !important;
}
.swipe-card .image {
    max-height: 250px !important;
}
.container img {
    width: 70%
}
.container {
    text-align: center;
}
.home .container {
    height: 100%;
}
.home .linkedInLogin {
    width: 100%;
    position: absolute;
    top: 455px;
}
.home .linkedInLogin a {
    margin-left: 20px;
    display: block;
    width: 260px;
    height: 40px;
}
.home .linkedInLogin a:focus, .home .linkedInLogin a:active {
    background-color: white;
    opacity: 0.2;
}
.matches {
    background: url(../img/Slice2.png) no-repeat center center fixed !important;
}
.create-profile.pane {
    background: url(../img/ProfileCreation.png);
    background-size: cover;
}
.youHaveBeenMatched.pane {
    background: url(../img/youHaveBeenMatched-waiting.png);
    background-size: cover;
}
.youHaveBeenMatched.pane.confirmed {
    background: url(../img/youHaveBeenMatched-confirmed.png);
    background-size: cover;
}
.matchFound.pane {
    background: url(../img/match-found.png);
    background-size: cover;
}
.standard.pane {
    background: url(../img/Slice2.png) no-repeat center center fixed !important;
}
.blue {
    background-color: blue !important;
}
.create-profile .has-header, .youHaveBeenMatched .has-header, .matchFound .has-header {
    top: 0px !important;
}
.youHaveBeenMatched #time {
    display: block;
    position: absolute;
    top: 406px;
    margin-left: 23px;
    width: 278px;
    height: 49px;
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
}
.youHaveBeenMatched.confirmed #time {
    display: none;
}
.youHaveBeenMatched #countdown {
    display: none;
}
.youHaveBeenMatched.confirmed #countdown {
    display: block;
    position: absolute;
    top: 417px;
    margin-left: 23px;
    width: 278px;
    height: 49px;
    border: none;
    color: white;
    font-size: 24px;
    line-height: 2em;
}
.youHaveBeenMatched #mapArea {
    display: block;
    position: absolute;
    top: 138px;
    margin-left: 47px;
    width: 234px;
    height: 220px;
}
.youHaveBeenMatched #spotIcon {
    position: absolute;
    top: -200px;
    width: 20px;
    margin-top: -10px;
    margin-left: -2px;
    pointer-events: none;
}
.create-profile .nextPage {
    position: absolute;
    top: 494px;
    margin-left: 24px;
    display: block;
    width: 278px;
    height: 40px;
}

#matches-back {
  display: block;
  height: 70px;
  width: 70px;
}
.matchFound .nextPage {
    position: absolute;
    top: 424px;
    margin-left: 30px;
    display: block;
    width: 259px;
    height: 41px;
}
.create-profile .nextPage:focus, .create-profile .nextPage:active {
    background-color: white;
    opacity: 0.2;
}
.create-profile .back, .youHaveBeenMatched .back {
    position: absolute;
    top: 13px;
    margin-left: -5px;
    display: block;
    width: 65px;
    height: 40px;
}
.create-profile.pane.raiseNotes {
  top: -181px;
}
.create-profile .notes {
    display: block;
    position: absolute;
    top: 384px;
    margin-left: 23px;
    width: 278px;
    height: 94px;
    background-color: transparent;
    color: white;
    font-size: 16px;
}
.create-profile .notes::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(255, 255, 255, 0.73)
}
.create-profile #strengthList {
    display: block;
    position: absolute;
    top: 256px;
    margin-left: 23px;
    width: 278px;
    height: 30px;
    background: transparent;
    border: none;
    color: white;
}
.create-profile #lookingList {
    display: block;
    position: absolute;
    top: 316px;
    margin-left: 23px;
    width: 278px;
    height: 30px;
    background: transparent;
    border: none;
    color: white;
}

#lookingList2 {
    display: block;
    position: absolute;
    top: 333px;
    margin-left: 23px;
    width: 278px;
    height: 30px;
    background: transparent;
    border: none;
    color: white;
}

.home {
    background: url(../img/Slice1sm.png);
    background-size: cover;
}

.helen {
    background: url(../img/helen.png);
    background-size: cover;
}

.max100 {
    max-height: 100px;
}
.button .icon:before, .button.icon:before, .button.icon#loc-icon:before {
    display: inline-block;
    padding: 0 0 1px 0;
    vertical-align: inherit;
    font-size: 23px !important;
    line-height: 30px;
    pointer-events: none;
}
.item[ng-click]:hover {
    cursor: crosshair !important;
}

.card.mod, .list-inset.mod{
  overflow: hidden;
  margin: 56px 10px;
  border-radius: 2px;
  background-color: transparent !important;
}

.card.mod2 {
  overflow: hidden;
  margin: 15px 10px;
  border-radius: 2px;
  background-color: transparent !important;
}

h2#card {
    font-size: 20px !important;
    margin-top: 2px !important;
}

h3#card {
    margin-top: -5px !important;
     margin-bottom: -3px !important;
}

.popup{
width: 320px !important;
height: 100% !important;
position: fixed;
top: 25%;
left: 39%;
background-color: rgba(39, 33, 33, 0.86) !important;
}

.popup-head{
border-bottom: 0px !important;
}

.map-container {
margin: 0;
padding: 0;
left: 4%;
}


#map-canvas { height: 63%; width:90%; margin-bottom: 20px; margin-top: 4%;
margin-left: 4%;}

.angular-leaflet-map {
    width: 640px;
    height: 480px;
}

.circled {
border-radius: 200;
border: #eee solid 5px;
display: flex;
margin: auto;
}

.full-image.circled{
    width: 160px;
}

#right {
    display: flex;
    margin-left: 64%;
}

a {
   text-decoration-line: initial;
}

.center {
    display: flex;
    margin: auto;
    text-align: center;
}

h4{
    font-size: 20px !important;
    margin-top: 2px !important;
}
